@use "./mixins.scss" as M;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

  @include M.respond-tablet {
    font-size: 68.75%;
  }

  @include M.respond-laptop {
    font-size: 75%;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
